In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Nikhitha Siva\Desktop\data science\Attrition-missing data.csv")

In [3]:
data.columns

Index(['EmployeeNumber', 'Attrition', 'Age', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
EmployeeNumber              1470 non-null int64
Attrition                   1466 non-null object
Age                         1468 non-null float64
BusinessTravel              1463 non-null object
DailyRate                   1470 non-null int64
Department                  1469 non-null object
DistanceFromHome            1469 non-null float64
Education                   1470 non-null int64
EducationField              1467 non-null object
EnvironmentSatisfaction     1470 non-null int64
Gender                      1465 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1459 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1462 non-null object
MonthlyIncome               1467 non-null float64
MonthlyRate                 1466 non-null float64
NumCompaniesWorked          1470 non-null int64
OverTime                    1465 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1467 non-null float64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1468 non-null float64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: float64(6), int64(18), object(8)
memory usage: 367.6+ KB

In [5]:
data.isnull().any()

EmployeeNumber              False
Attrition                    True
Age                          True
BusinessTravel               True
DailyRate                   False
Department                   True
DistanceFromHome             True
Education                   False
EducationField               True
EnvironmentSatisfaction     False
Gender                       True
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                      True
JobSatisfaction             False
MaritalStatus                True
MonthlyIncome                True
MonthlyRate                  True
NumCompaniesWorked          False
OverTime                     True
PercentSalaryHike           False
PerformanceRating            True
RelationshipSatisfaction    False
StockOptionLevel             True
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [6]:
data.isnull().sum()

EmployeeNumber               0
Attrition                    4
Age                          2
BusinessTravel               7
DailyRate                    0
Department                   1
DistanceFromHome             1
Education                    0
EducationField               3
EnvironmentSatisfaction      0
Gender                       5
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                     11
JobSatisfaction              0
MaritalStatus                8
MonthlyIncome                3
MonthlyRate                  4
NumCompaniesWorked           0
OverTime                     5
PercentSalaryHike            0
PerformanceRating            3
RelationshipSatisfaction     0
StockOptionLevel             2
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager         0
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
si=SimpleImputer(strategy='most_frequent')

In [9]:
mc=['Attrition', 'Age', 'BusinessTravel','Department', 'DistanceFromHome','EducationField','Gender','JobRole','MaritalStatus','MonthlyIncome', 'MonthlyRate','OverTime','PerformanceRating','StockOptionLevel']
for key in mc:   
    data[key]=si.fit_transform(data[[key]])

In [10]:
data.isnull().sum()

EmployeeNumber              0
Attrition                   0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [11]:
obj_list=['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','OverTime']

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
ohe=OneHotEncoder(sparse= False)

In [14]:
interim_op=ohe.fit_transform(data[obj_list])

In [15]:
data_obj=pd.DataFrame(interim_op,columns=ohe.get_feature_names())

In [16]:
data_obj

,x0_Non-Travel,x0_Travel_Frequently,x0_Travel_Rarely,x1_Human Resources,x1_Research & Development,x1_Sales,x2_Human Resources,x2_Life Sciences,x2_Marketing,x2_Medical,...,x4_Manufacturing Director,x4_Research Director,x4_Research Scientist,x4_Sales Executive,x4_Sales Representative,x5_Divorced,x5_Married,x5_Single,x6_No,x6_Yes
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1466,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1467,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1468,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1469,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [17]:
data_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 28 columns):
x0_Non-Travel                   1470 non-null float64
x0_Travel_Frequently            1470 non-null float64
x0_Travel_Rarely                1470 non-null float64
x1_Human Resources              1470 non-null float64
x1_Research & Development       1470 non-null float64
x1_Sales                        1470 non-null float64
x2_Human Resources              1470 non-null float64
x2_Life Sciences                1470 non-null float64
x2_Marketing                    1470 non-null float64
x2_Medical                      1470 non-null float64
x2_Other                        1470 non-null float64
x2_Technical Degree             1470 non-null float64
x3_Female                       1470 non-null float64
x3_Male                         1470 non-null float64
x4_Healthcare Representative    1470 non-null float64
x4_Human Resources              1470 non-null float64
x4_Laboratory Technician        1470 non-null float64
x4_Manager                      1470 non-null float64
x4_Manufacturing Director       1470 non-null float64
x4_Research Director            1470 non-null float64
x4_Research Scientist           1470 non-null float64
x4_Sales Executive              1470 non-null float64
x4_Sales Representative         1470 non-null float64
x5_Divorced                     1470 non-null float64
x5_Married                      1470 non-null float64
x5_Single                       1470 non-null float64
x6_No                           1470 non-null float64
x6_Yes                          1470 non-null float64
dtypes: float64(28)
memory usage: 321.7 KB

In [18]:
data_int=data.select_dtypes(include='number')

In [19]:
data_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 24 columns):
EmployeeNumber              1470 non-null int64
Age                         1470 non-null float64
DailyRate                   1470 non-null int64
DistanceFromHome            1470 non-null float64
Education                   1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobSatisfaction             1470 non-null int64
MonthlyIncome               1470 non-null float64
MonthlyRate                 1470 non-null float64
NumCompaniesWorked          1470 non-null int64
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null float64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null float64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: float64(6), int64(18)
memory usage: 275.8 KB

In [20]:
data_final=pd.concat([data_obj,data_int],axis=1)

In [21]:
data.shape

(1470, 32)

In [22]:
data_final.shape

(1470, 52)

In [23]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 52 columns):
x0_Non-Travel                   1470 non-null float64
x0_Travel_Frequently            1470 non-null float64
x0_Travel_Rarely                1470 non-null float64
x1_Human Resources              1470 non-null float64
x1_Research & Development       1470 non-null float64
x1_Sales                        1470 non-null float64
x2_Human Resources              1470 non-null float64
x2_Life Sciences                1470 non-null float64
x2_Marketing                    1470 non-null float64
x2_Medical                      1470 non-null float64
x2_Other                        1470 non-null float64
x2_Technical Degree             1470 non-null float64
x3_Female                       1470 non-null float64
x3_Male                         1470 non-null float64
x4_Healthcare Representative    1470 non-null float64
x4_Human Resources              1470 non-null float64
x4_Laboratory Technician        1470 non-null float64
x4_Manager                      1470 non-null float64
x4_Manufacturing Director       1470 non-null float64
x4_Research Director            1470 non-null float64
x4_Research Scientist           1470 non-null float64
x4_Sales Executive              1470 non-null float64
x4_Sales Representative         1470 non-null float64
x5_Divorced                     1470 non-null float64
x5_Married                      1470 non-null float64
x5_Single                       1470 non-null float64
x6_No                           1470 non-null float64
x6_Yes                          1470 non-null float64
EmployeeNumber                  1470 non-null int64
Age                             1470 non-null float64
DailyRate                       1470 non-null int64
DistanceFromHome                1470 non-null float64
Education                       1470 non-null int64
EnvironmentSatisfaction         1470 non-null int64
HourlyRate                      1470 non-null int64
JobInvolvement                  1470 non-null int64
JobLevel                        1470 non-null int64
JobSatisfaction                 1470 non-null int64
MonthlyIncome                   1470 non-null float64
MonthlyRate                     1470 non-null float64
NumCompaniesWorked              1470 non-null int64
PercentSalaryHike               1470 non-null int64
PerformanceRating               1470 non-null float64
RelationshipSatisfaction        1470 non-null int64
StockOptionLevel                1470 non-null float64
TotalWorkingYears               1470 non-null int64
TrainingTimesLastYear           1470 non-null int64
WorkLifeBalance                 1470 non-null int64
YearsAtCompany                  1470 non-null int64
YearsInCurrentRole              1470 non-null int64
YearsSinceLastPromotion         1470 non-null int64
YearsWithCurrManager            1470 non-null int64
dtypes: float64(34), int64(18)
memory usage: 597.3 KB

In [24]:
data_final.isnull().sum()

x0_Non-Travel                   0
x0_Travel_Frequently            0
x0_Travel_Rarely                0
x1_Human Resources              0
x1_Research & Development       0
x1_Sales                        0
x2_Human Resources              0
x2_Life Sciences                0
x2_Marketing                    0
x2_Medical                      0
x2_Other                        0
x2_Technical Degree             0
x3_Female                       0
x3_Male                         0
x4_Healthcare Representative    0
x4_Human Resources              0
x4_Laboratory Technician        0
x4_Manager                      0
x4_Manufacturing Director       0
x4_Research Director            0
x4_Research Scientist           0
x4_Sales Executive              0
x4_Sales Representative         0
x5_Divorced                     0
x5_Married                      0
x5_Single                       0
x6_No                           0
x6_Yes                          0
EmployeeNumber                  0
Age                             0
DailyRate                       0
DistanceFromHome                0
Education                       0
EnvironmentSatisfaction         0
HourlyRate                      0
JobInvolvement                  0
JobLevel                        0
JobSatisfaction                 0
MonthlyIncome                   0
MonthlyRate                     0
NumCompaniesWorked              0
PercentSalaryHike               0
PerformanceRating               0
RelationshipSatisfaction        0
StockOptionLevel                0
TotalWorkingYears               0
TrainingTimesLastYear           0
WorkLifeBalance                 0
YearsAtCompany                  0
YearsInCurrentRole              0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
dtype: int64

In [25]:
X=data_final

In [26]:
X

,x0_Non-Travel,x0_Travel_Frequently,x0_Travel_Rarely,x1_Human Resources,x1_Research & Development,x1_Sales,x2_Human Resources,x2_Life Sciences,x2_Marketing,x2_Medical,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,3.0,1,0.0,8,0,1,6,4,0,5
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,4.0,4,1.0,10,3,3,10,7,1,7
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3.0,2,0.0,7,3,3,0,0,0,0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,3.0,3,0.0,8,3,3,8,7,3,0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,3.0,4,1.0,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,3.0,3,1.0,17,3,3,5,2,0,3
1466,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,3.0,1,1.0,9,5,3,7,7,1,7
1467,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,4.0,2,1.0,6,0,3,6,2,0,3
1468,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,3.0,4,0.0,17,3,2,9,6,0,8
1469,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,3.0,1,0.0,6,3,4,4,3,1,2

In [27]:
Y=data.loc[:,['Attrition']]

In [28]:
Y

     Attrition
0          Yes
1           No
2          Yes
3           No
4           No
...        ...
1465        No
1466        No
1467        No
1468        No
1469        No

[1470 rows x 1 columns]

In [29]:
Y.isnull().sum()

Attrition    0
dtype: int64

In [30]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [31]:
model=DecisionTreeClassifier()

In [37]:
param_grid={"max_depth":[5,10,15],"min_samples_split":[30,60,90],"criterion":["gini","entropy"]}

In [38]:
Gd=GridSearchCV(model,param_grid,cv=10,n_jobs=-1,verbose=2,return_train_score= True)

In [39]:
Gd.fit(X,Y)

Fitting 10 folds for each of 18 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:    6.2s finished
C:\Users\Nikhitha Siva\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 10, 15],
                         'min_samples_split': [30, 60, 90]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring=None, verbose=2)

In [40]:
Gd.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=60,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [41]:
Gd.best_score_

0.8517006802721089

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
Lr=LogisticRegression()

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=.2,random_state=4)

In [46]:
Lr.fit(train_x,train_y)

C:\Users\Nikhitha Siva\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Nikhitha Siva\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [49]:
y_pred=Lr.predict(test_x)

In [50]:
from sklearn.metrics import classification_report

In [51]:
print(classification_report(test_y,y_pred))

              precision    recall  f1-score   support

          No       0.91      0.98      0.95       251
         Yes       0.80      0.47      0.59        43

    accuracy                           0.90       294
   macro avg       0.86      0.72      0.77       294
weighted avg       0.90      0.90      0.89       294

In [52]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 1 columns):
Attrition    1470 non-null object
dtypes: object(1)
memory usage: 11.6+ KB